.intro {
    display: flex;
    height: 50vh;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    
}
.intro-left {
    flex: 1;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.intro-right {
    flex: 1;
    position: relative;
    margin-top: 20px;
}

.intro-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro-intro {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.intro-name {
    font-size: 60px;
    font-family: inherit;
}
.intro-title-item {
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    font-family: inherit;
}


.intro-img {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    margin-right: 20px;
}
.intro-bg {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    background-color: #59b256;
    position: absolute;
    margin-right: 20px;
    
}

@media screen and (max-width: 1000px){
    .intro-left {
        justify-content: start;
        
    }
    .intro-name {
        font-size: 40px;
    }

    .intro-img {
        width: 350px;
        height: 450px;
    }

    .intro-bg {
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 730px){
    .intro {
        flex-direction: column;
        height: 70vh;
        justify-content: center;
        margin: auto;
    }
    .intro-left-wrapper {
        padding: 30px 10px 10px 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .intro-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .intro-img {
        width: 350px;
        height: 450px;
        top: -50%;
    }

    .intro-bg {
        width: 350px;
        height: 450px;
        top: -50%;
    }
}


@media screen and (max-width: 480px) {
    .intro {
        flex-direction: column;
        height: 75vh;
    }
    .intro-left-wrapper {
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .intro-desc {
        display: none;
    }
    .intro-name {
        font-size: 40px;
    }
}